.formContainer {
  margin: 0 auto;
  width: 90%;
}

.formGroup {
  position: relative;
}

/* .priceInputGroup {
  display: flex;
  width: 100%;
}

.priceInputGroup > .formGroup {
  width: 50%;
}

.priceInputGroup > .formGroup:not(:last-child) {
  margin-right: 2rem;
} */



.formGroup{
  margin-bottom: 2rem;
}

.formTitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.3rem;
  color: #ccc;
  text-align: center;
  margin-bottom: 3rem;
}


.formContainer {
  border-top: 1px solid #da9b68;
  border-bottom: 1px solid #da9b68;
  padding: 2.5rem 0;
}

.detailContainer {
  border-bottom: none;
}

.reportContainer {
  border-top: none;
}


.inputField {
  font-size: 1.8rem;
  font-family: inherit;
  color: rgb(31, 31, 31);
  padding: 1.5rem 2rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.inputField:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid orange;
}

.inputField::-webkit-input-placeholder {
  color: rgb(62, 62, 62);
}

.labelField {
  font-size: 1.5rem;
  color: #da9b68;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;

}

.inputField:placeholder-shown + .labelField {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.radioGroup {
  display: inline-block;
  margin-bottom: 2rem;
  color: #ccc;
}

.radioInput {
  display: none;
}

.radioLabel {
  cursor: pointer;
  font-size: 1.7rem;
  position: relative;
  padding-left: 4rem;
  margin-right: 3rem;

}

.radioBtn {
  height: 3rem;
  width: 3rem;
  border: 5px solid #a77247;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.4rem;
  left: 0;}

.radioBtn::after {
    content: '';
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    opacity: 0;
    transition: all .2s;
  }


.radioInput:checked + .radioLabel .radioBtn::after {
  opacity: 1;
}
