.clientListItem {
  width: 100%;
  background-color: rgba(61, 61, 61, 0.5);
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid #5b3f2d;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform .3s;
}

.sessionWrapper {
  display: flex;
  margin-bottom: 1rem;
}

.infoBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clientListItem:hover {
  transform: translateY(-1rem) scale(1.02);
}

.clientListItem:not(:last-child) {
  margin-bottom: 2.4rem;
}

.clientName {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: #ffba88;
}

.clientWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.4rem;
}

.clientWrapper p {
  width: 33%;
  color: #ccc;
}

.textColor {
  color: #a77247;
  font-weight: bold;
  margin-right: 8px;
}

.purpose {
  margin-bottom: 1rem;
}

.infoBlockFlex {
  display: flex;
  justify-content: flex-end;
}

.infoBlockFlex > p:first-child {
  margin-right: 2.5rem;
}



.ClientBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.indexBtn {
  z-index: 100;
}

